mixin contactWay(fa_icon, contactWayHeader, contactWayDescription)
	.contactWay
		.fa(class=fa_icon)
		h5.CWHeader #{contactWayHeader}
		p #{contactWayDescription}


.contact
	h1.block_header where you can find us