mixin social(fa)
	li
		a.social_link(href="#", class=fa)
			i.fa(class='fa-'+fa)

footer
	ul.footer-social
		+social('twitter')
		+social('facebook')
		+social('linkedin-square')
		+social('google-plus')
		+social('youtube')
	p.copyright
		|Copyright © 2015 Seaman Bondarenko
	a.hubLink(href="https://github.com/seaman248") My Github Page