header
	nav
		._container
			.logo
				img(src="img/logo.png")
			
			.mobile-menu-button
				button
					i.fa.fa-bars
			
			ul._navbar
				li.active
					a(href="#") Home
				li
					a(href="#") Detailed
				li
					a(href="#") Product
				li
					a(href="#") Subscribe
				li
					a(href="#") Packages
				li
					a(href="#") Team
				li
					a(href="#") Contact