.how-it
	._container
		h1.block_header
			|how it works
		.steps
			.step
				i.fa.fa-pencil
				h4 Subscribe to the List
				p Sed ut perspiciatis unde error sit voluptate.
			.step
				i.fa.fa-envelope-o
				h4 Confirm your email
				p Sed ut perspiciatis unde error sit voluptate.
			.step
				i.fa.fa-cloud-download
				h4 Download your Product
				p Sed ut perspiciatis unde error sit voluptate.