.packages
	h1.block_header Choose your packages
	.package.basic
		h4 Basic
		h5 29
			span.cent 99
		ul.features
			li Up to 5 projects
			li 5 Gb of storage
			li Up to 100 users
			li 10 Gb bandwidth
		button(type="button") Select plan