.promo
	._container
		.banner
			h1 Hi, we're 
				| <b>ultra</b> modern <b>landing</b>
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam harum beatae odit, illo ullam, est possimus fuga mollitia perspiciatis.

			form
				input(type="text", placeholder="Name")
				input(type="text", placeholder="Email")
				button(type="submit") Start now!