section.subscribe
	._container
	h1.block_header Subscribe to our newsletter
	h2.block_subheader Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
	form
		input(placeholder="Enter your e-mail addres")
		button(type="button") Send message
	ul.social-buttons
		li
			a(href="#")
				i.fa.fa-twitter
		li
			a(href="#")
				i.fa.fa-facebook
		li
			a(href="#")
				i.fa.fa-linkedin
		li
			a(href="#")
				i.fa.fa-google-plus
		li
			a(href="#")
				i.fa.fa-youtube