@import 'kouto-swiss'

// COLORS
RED = #f15a5a
BLUE = #2e90b8
GREY = #8c8c8c
BLACK = #3c3c3c
DARK_GREY = #7f7f7f
// GLOBAL
normalize()


h1.block_header::before
	content "— "
h1.block_header
	font-weight 300
	font-size em(24)
	text-transform uppercase
	text-align center
	color BLACK
h1.block_header::after
	content " —"

h2.block_subheader
	width 50%
	text-align center
	margin 0 auto
	font-size em(16)
	font-weight 300
	color GREY
	font-style italic
	padding-bottom em(25)
body
	font-family 'Open Sans', sans-serif

// IMPORT BLOCKS
@import './blocks/header.styl'
@import './blocks/promo.styl'
@import './blocks/how_it_works.styl'
@import './blocks/documentation.styl'
@import './blocks/product.styl'
@import './blocks/subscribe.styl'
@import './blocks/packages.styl'