@import 'kouto-swiss'

// COLORS
RED = #f15a5a
BLUE = #2e90b8
GREY = #8c8c8c

// GLOBAL
normalize()

body
	font-family 'Open Sans', sans-serif

// IMPORT BLOCKS
@import './blocks/header.styl'
@import './blocks/promo.styl'
@import './blocks/how_it_works.styl'