.contact
	gs('fluid')
	.contactWay
		col(6)
		text-align center
		margin em(20) 0
		i
			font-size em(60)
			color BLUE
		h5
			text-transform uppercase
			font-weight 300
			font-size em(22)
			margin em(20) 0 0
		p
			font-size em(18)
			color GREY
			font-weight 300
			margin em(10) auto
			width 80%