footer
	gs('fluid')
	padding em(20)
	text-align center
	background-color #f1f1f1
	ul.footer-social
		list-style-type none
		margin 0
		padding 0
	li
		display inline-block
		margin em(5) em(8)
	a.social_link
		display block
		width em(30)
		line-height em(30)
		background-color #fff
		border-radius 50%
		padding em(10)
		color GREY
		transition 0.18s ease-out 0.1s
		transition-property background-color color
	a.social_link:hover
		color #fff
		background-color BLUE
	.copyright
		font-weight 300
		font-size em(14)
		color GREY
		margin em(10)
	a.hubLink
		text-decoration none
		color GREY
		font-weight 700
		font-size em(14)
		margin 0
		transition 0.18s ease-out 0.1s
		transition-property color font-size
	a.hubLink:hover
		color BLUE
		font-size em(15)