header
	position fixed
	top 0
	z-index 100
	background-color #fff
	box-shadow 0 0 10px rgba(0,0,0,0.12)
	width 100%
	height auto
	._container
		gs('fluid', 12)
		padding 0 em(20)
	.logo
		col(6)
		float left
		img
			max-width 100%
			height em(88)

	.mobile-menu-button
		col(6)
		line-height 0
		height em(88)
		button
			float right
			font-size em(42)
			border none
			width em(40)
			height 100%
			background-color transparent
			color GREY
			outline 0
		button.active
			color RED

	ul._navbar
		position absolute
		top em(92)
		margin 0
		width 80%
		list-style-type none
		background-color #fff
		display none //TESTING!!!!!!!!!!!!!!!!!!!!!!1
		li
			transition background-color 0.2s ease-out 0.2s
			transition border-top-width 0.2s ease-in 0.2s
		li.active
			border-top 4px solid RED
			background-color #FCFCFC
		li:hover
			background-color #FCFCFC
		a
			margin em(5)
			display block
			text-decoration none
			font-size em(19)
			line-height 3
			font-weight 300
			color GREY

+media-query( all, min-width 960px )
	header
		._container
			gs('fixed')
			padding 0
		.mobile-menu-button
			display none
		.logo
			col(3)
		ul._navbar
			position relative
			min-width 0
			top 0
			col(8)
			float right
			li
				display inline-block
				padding em(10)
			li:hover
				border-top 4px solid RED