.how-it
	._container
		gs('fluid')
	.steps
		col(12)
	.step
		clearfix()
		col(12)
		i
			font-size em(56)
			padding em(8)
			float left
			color BLUE
		h4
			font-size em(24)
			line-height 0.1
			font-weight 200
		p
			font-weight 200
			line-height 0.1