.promo
	margin em(94) 0
	background-image url(./img/header-bg.jpg)
	background-position 63% 0
	background-repeat no-repeat
	padding-bottom em(10)
	._container
		gs('fluid')
	.banner
		col(12)
		color #fff
		h1
			font-size em(46)
			font-weight 300
			text-transform uppercase
			line-height 1
		p
			font-size em(15)
			font-weight 300
			padding em(20) 0
	form
		input, button
			margin-bottom em(8)
			border-radius em(5)
		input
			width 100%
			background-color transparent
			border 1px solid #fff
			padding em(10)
			box-sizing border-box
		input::-webkit-input-placeholder
			color #fff
		input:-moz-placeholder
			color #fff
		input:-ms-input-placeholder
			color #fff
		button
			background-color RED
			border none
			text-transform uppercase
			padding em(5) em(30)

+media-query( all, min-width 960px )
	.promo
		background-position top center
		._container
			gs('fixed')
		.banner
			col(6)
			input
				width 70%
			button
				padding em(10) em(40)